.title {
    margin: 1%;
} 

.subtitle {
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.container-projetsUniversitaires,.containuer-projetsPersonnels {
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
}

.cartes {
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.carte {
    margin: 5%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
}

@media (max-width:800px) {
    .carte {
        display: flex;
        flex-direction: column;
    }
}

.vignette {
    width: 100%;
}

.vignette:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
}

.technosUtilisees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#vscode {
    width: 33%;
}
#eclipse {
    width: 75%;
}
#javaFX {
    width: 70%
}
#kubuntu {
    width: 35%;
}
#javaScript {
    width: 40%;
}
#git {
    width: 50%;
}
#postgresql {
    width: 100%;
}
#python {
    width: 75%;
}
#microsoftAccess {
    width: 33%;
}
#virtualBox {
    width: 50%;
}
#typeScript {
    width: 40%;
}
#socketIo {
    width: 40%;
}

.technosUtilisees > img {
    margin: 10px;
    width: 60%;
    border-radius: 10px;
}

ul {
    padding-left: 25px;
}