.container-experience {
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
}

.title {
    margin: 1%;
} 

.subtitle {
    padding: 10px;
    margin-top: 3%;
    margin-left: 10%;
}

.sub-subtitle {
    margin-left: 10%;
}

.card {
    width: 75%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
}

.description {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

#o2game {
    padding: 15px;
}