.presentation {
    max-width: 75%;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
}

.textPres { 
    font-size: 22px;
    padding: 5%;
}

.text {
    font-weight: bold;
}
.text > a {
    text-decoration: none;
    color: black;
}


a:visited {
    color: black;
}

.photo {
    margin: 5%;
    border-radius: 5%;
    width: 75%;
}

.title {
    font-size: 22px;
}

.pages {
    padding: 2%;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.097);
    border-radius: 20px;
    font-size: 14px;
}

.rubriques-container {
    width: 100%;
    margin: auto;
    margin-top: 2%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.articles > a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.articles:hover {
    padding-inline-start: 10px;
    background-color: rgba(147, 147, 147, 0.21);
    border-radius: 20px;
}

.articles > a:visited {
    color: black;
}
