body {
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {
    .container > #linksFooter{
        display: flex;
 		flex-direction: row;
        flex-wrap: wrap;
	}
}

#bannerFooter {
    height: 195px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#accueil, #presentation, #formations, #competences, #experiences, #realisations, #contact {
    position: absolute; 
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#accueil {
    top: 17%;
    left: 15%;
}

#presentation {
    top: 17%;
    left: 25%;
}

#formations {
    top: 17%;
    left: 35%;
}

#competences {
    top: 17%;
    left: 45%;
}

#experiences {
    top: 17%;
    left: 55%;
}

#realisations {
    top: 17%;
    left: 65%;
}

#contact {
    top: 17%;
    left: 75%;
}


.credits {
    top: 70%;
    width: 100%;
    margin: auto;
    position: absolute;
    color: white;
}